/* Apply Arial font across the entire page */
body {
    font-family: 'Arial', sans-serif;
}




/* Player container styling */
.player {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.player img {
    border-radius: 50%;
    margin-right: 10px;
}

.player-info {
    flex: 1;
}

/* Matches container styling - add space between player info and matches table */
.matches-container {
    margin-top: 0px; /* Adjust this value to increase or decrease the space */
    margin-right: 0px;
    margin-left: 20px;
}

/* Table styling */
.matches-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.matches-table th, .matches-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping */
}

.matches-table th {
    background-color: #f4f4f4;
}

.match-win {
    color: green;
}

.match-loss {
    color: red;
}


/* Menu Bar Styling */
.menu-bar {
    background-color: #333;
    overflow: hidden;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-bar ul li {
    float: left;
}

.menu-bar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.menu-bar ul li a:hover {
    background-color: #575757;
    color: white;
}


/* Login Portal Styling */
.login-container {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #f2f2f2;
}

.login-form {
    background-color: white;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #45a049;
}

.register-link {
    margin-top: 20px;
    
    font-size: 14px;
}

.register-link a {
    color: #4CAF50;
    
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}




.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
    text-align: center; /* Center the text inside the container */
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Align labels and inputs to the left within the form group */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: calc(100% - 20px); /* Adjusted for padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
    display: block;
    margin: 0 auto; /* Center the input and textarea */
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.form-group button {
    width: calc(100% - 20px); /* Adjusted for padding */
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box; /* Ensures padding and border are included in the width calculation */
    display: block;
    margin: 20px auto 0; /* Center the button and add margin above */
}

.form-group button:hover {
    background-color: #4CAF50;
}



/* Container for the login box */
.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

/* Styling the login box */
.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Heading Style */
.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}





.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.form-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #adadad;
    outline: none;
    font-size: 16px;
    background: none;
    color: #333;
}

.btn {
    width: 100%;
    background-color: #009688;
    border: none;
    padding: 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00796b;
}

.error {
    color: red;
    font-size: 14px;
    display: none;
}

.status {
    margin-top: 20px;
    font-size: 14px;
    display: none;
}


